# Data Preparation for Tableau Dashboard

Purpose: Prepare annual data on health expenditure and population for Tableau dashboard
<br>Data Sources: 
<br>Last updated: August 2025
<br>Done by Yap Zhi Ling

### 1. Import Libraries

In [4]:
import pandas as pd
import numpy as np

### 2. Dataset 1: Government Development Expenditure

Government development expenditure refers to the spending on long-term investments or creation of capital assets for a country's economic development and general welfare, such as buildings, roads, and equipment.

In [5]:
develop_expData = pd.read_csv('data/raw/GovernmentDevelopmentExpenditureBySectorAnnual.csv')
display(develop_expData.head())
health_develop_exp = develop_expData.set_index('DataSeries')
health_develop_exp = health_develop_exp.T
display(health_develop_exp.head())
print(health_develop_exp.columns)

,DataSeries,2025,2024,2023,2022,2021,2020,2019,2018,2017,...,2006,2005,2004,2003,2002,2001,2000,1999,1998,1997
0,Total Development Expenditure,26760.2,23358.7,21484.9,20417.4,16253.4,13429.5,16670.7,20263.3,17975.1,...,5980.2,7188.8,8601.6,8508.3,7792.9,8769.1,9493.6,10211.5,12282.3,8963
1,Social Development,6108.5,4118.4,4207.8,5104.4,3757.2,3663.7,4559.9,4419.5,5618.8,...,2141.3,2943.9,3858.4,4386.7,3971,4169.7,4517.1,5141.4,5277.8,3306.4
2,Education,852.0,451.0,319.5,170.1,305.1,493,791.1,447,611.1,...,607.6,867,1239.4,1217.6,1773.6,1473,1590.6,1600.6,1685.7,1102
3,Health,2067.9,1206.6,1323.4,1203.8,1048.8,949.2,1403.9,1490.3,1465.4,...,96.1,84.8,113.5,102.8,81.6,145,140.3,153.1,250.6,274.4
4,National Development,957.5,1245.9,1080.5,1221.4,1110.2,1191.1,926,1191.1,1256.8,...,675.2,1010.4,1152.5,1864.6,1088.9,1769.6,2068.8,2171.8,2002.9,971.7

DataSeries,Total Development Expenditure,Social Development,Education,Health,National Development,Sustainability And The Environment,"Culture, Community And Youth",Social And Family Development,Digital Development And Information,Manpower (Financial Security),...,Transport,Trade And Industry,Manpower (Excluding Financial Security),Digital Development And Information,Government Administration,Finance,Law,Organs Of State,Prime Minister's Office,Digital Development And Information
2025,26760.2,6108.5,852.0,2067.9,957.5,1468.5,510.5,209.2,41.0,2.0,...,11931.8,5547.0,117.2,59.0,411.2,127.7,139.0,106.6,34.6,3.3
2024,23358.7,4118.4,451.0,1206.6,1245.9,583.2,488.6,113.1,25.6,4.5,...,12140.9,4382.9,102.0,129.0,627.0,59.3,367.0,44.5,57.4,98.8
2023,21484.9,4207.8,319.5,1323.4,1080.5,923.3,435.1,101.1,24.9,0,...,10411.5,4446.1,122,19.7,380.5,25.4,43,239.5,72.5,na
2022,20417.4,5104.4,170.1,1203.8,1221.4,831.6,1571.2,83.9,22,0,...,9156.8,3950.4,85.1,38.7,414,29.9,48.1,58.5,277.3,na
2021,16253.4,3757.2,305.1,1048.8,1110.2,905,277.3,84.2,21.1,5.5,...,6534.4,3397.9,75.9,28.9,559,28.7,196.9,60.6,272.6,na

Index(['Total Development Expenditure', '    Social Development',
       '        Education', '        Health', '        National Development',
       '        Sustainability And The Environment',
       '        Culture, Community And Youth',
       '        Social And Family Development',
       '        Digital Development And Information',
       '        Manpower (Financial Security)',
       '    Security And External Relations', '        Defence',
       '        Home Affairs', '        Foreign Affairs',
       '    Economic Development', '        Transport',
       '        Trade And Industry',
       '        Manpower (Excluding Financial Security)',
       '        Digital Development And Information',
       '    Government Administration', '        Finance', '        Law',
       '        Organs Of State', '        Prime Minister's Office',
       '        Digital Development And Information'],
      dtype='object', name='DataSeries')

- Data Transformation: Data was in 'wide' format (years in the header) and has no missing values. Dataframe was transposed to the 'long' format (years as the index) as Tableau works best with this format. 
<br><br>
- Column Selection: Getting the names of the columns as we want to focus on: Total Development Expenditure, Social Development Expenditure and Health Development Expenditure.
<br>
The Total Development Expenditure includes the Social Development Expenditure, which in turn includes the Health Development Expenditure.

In [6]:
print("Number of index levels:", health_develop_exp.index.nlevels)
clean_health_develop_exp = health_develop_exp.loc(axis=1)[('Total Development Expenditure','    Social Development','        Health')]
clean_health_develop_exp.columns = ['Total Development Expenditure', 'Social Development Expenditure', 'Health Development Expenditure']
display(clean_health_develop_exp.head())
print(clean_health_develop_exp.info())

Number of index levels: 1

,Total Development Expenditure,Social Development Expenditure,Health Development Expenditure
2025,26760.2,6108.5,2067.9
2024,23358.7,4118.4,1206.6
2023,21484.9,4207.8,1323.4
2022,20417.4,5104.4,1203.8
2021,16253.4,3757.2,1048.8

<class 'pandas.core.frame.DataFrame'>
Index: 29 entries, 2025 to 1997
Data columns (total 3 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Total Development Expenditure   29 non-null     object
 1   Social Development Expenditure  29 non-null     object
 2   Health Development Expenditure  29 non-null     object
dtypes: object(3)
memory usage: 928.0+ bytes
None

In [7]:
clean_health_develop_exp['Total Development Expenditure'] = pd.to_numeric(clean_health_develop_exp['Total Development Expenditure'], errors='coerce')
clean_health_develop_exp['Social Development Expenditure'] = pd.to_numeric(clean_health_develop_exp['Social Development Expenditure'], errors='coerce')
clean_health_develop_exp['Health Development Expenditure'] = pd.to_numeric(clean_health_develop_exp['Health Development Expenditure'], errors='coerce')
print(clean_health_develop_exp.info())

<class 'pandas.core.frame.DataFrame'>
Index: 29 entries, 2025 to 1997
Data columns (total 3 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Total Development Expenditure   29 non-null     float64
 1   Social Development Expenditure  29 non-null     float64
 2   Health Development Expenditure  29 non-null     float64
dtypes: float64(3)
memory usage: 928.0+ bytes
None

The dataframe with government development expenditure is prepared with the data we need and the format we want, with the correct Dtype (for calculations in Tableau).

### 3. Dataset 2: Government Operating Expenditure

Government operating expenditure refers to the day-to-day running and regular activities of the government, including wages, maintenance, and government grants.

In [8]:
operat_expData = pd.read_csv('data/raw/GovernmentOperatingExpenditureBySectorAnnual.csv')
display(operat_expData.head())
health_operat_exp = operat_expData.set_index('DataSeries')
health_operat_exp = health_operat_exp.T
display(health_operat_exp.head())
print(health_operat_exp.columns)

,DataSeries,2025,2024,2023,2022,2021,2020,2019,2018,2017,...,2006,2005,2004,2003,2002,2001,2000,1999,1998,1997
0,Total Operating Expenditure,97031.0,89553.7,83829.0,84438.0,78542.9,72936.3,58666.6,57560.5,55581.2,...,23924.6,21444.7,20355,19990.7,19358.9,18536.2,18414.9,14867.5,14651.5,14079.6
1,Social Development,55208.7,51826.2,47787.2,46706.6,43292.6,40852.5,32047.5,31400.3,30849.3,...,10519.9,8777.6,8499.6,8614.8,7945.6,7769.9,6653.8,5409.5,5433.3,5479.6
2,Education,14448.0,14132.0,13672.6,12890.3,12604.8,11766.9,11932.1,12429.0,12079.5,...,6351.7,5215.3,4974.7,4996.8,4824.4,4766.6,4276.9,3256.9,3167.4,3347.8
3,Health,18795.3,16731.0,15935.4,15908.6,16273.7,14310.6,9914.8,8937.4,8734.4,...,1839.5,1680.4,1604,1904.2,1450.9,1445.5,1071.5,935.8,992.4,896
4,National Development,8345.0,8807.7,7419.5,7850.8,4709.5,4626.5,2605.8,2941.4,3218.2,...,671.4,335.6,376.5,413.8,409.5,397.5,324.5,357.6,402,441.1

DataSeries,Total Operating Expenditure,Social Development,Education,Health,National Development,Sustainability And The Environment,"Culture, Community And Youth",Social And Family Development,Digital Development And Information,Manpower (Financial Security),...,Economic Development,Transport,Trade And Industry,Manpower (Excluding Financial Security),Digital Development And Information,Government Administration,Finance,Law,Organs Of State,Prime Minister's Office
2025,97031.0,55208.7,14448.0,18795.3,8345.0,2656.1,2270.8,5259.1,1063.3,2371.1,...,6861.5,2798.0,1638.2,1213.7,1211.5,4305.4,1421.6,315.4,1108.6,779.1
2024,89553.7,51826.2,14132.0,16731.0,8807.7,2763.1,2077.7,4459.3,991.1,1864.3,...,6241.7,2536.5,1608.0,1108.3,988.9,3458.8,1235.2,277.8,613.4,736.3
2023,83829.0,47787.2,13672.6,15935.4,7419.5,2337.9,1942.7,4000.5,718.1,1760.5,...,6748.3,2538.6,1568.4,1522.9,1118.3,3231.2,1187.5,258.7,1116.8,668.2
2022,84438.0,46706.6,12890.3,15908.6,7850.8,1848.3,2272.4,3653.4,721.2,1561.7,...,11072.1,3692.3,2757.4,3766.8,855.4,2908.3,1001.6,211.5,659.1,1036.0
2021,78542.9,43292.6,12604.8,16273.7,4709.5,1832.0,2095.9,3591.8,594.2,1590.5,...,10676.2,3737.9,1986.0,4187.3,765.0,2740.7,951.2,207.0,578.0,1004.4

Index(['Total Operating Expenditure', '    Social Development',
       '        Education', '        Health', '        National Development',
       '        Sustainability And The Environment',
       '        Culture, Community And Youth',
       '        Social And Family Development',
       '        Digital Development And Information',
       '        Manpower (Financial Security)',
       '    Security And External Relations', '        Defence',
       '        Home Affairs', '        Foreign Affairs',
       '    Economic Development', '        Transport',
       '        Trade And Industry',
       '        Manpower (Excluding Financial Security)',
       '        Digital Development And Information',
       '    Government Administration', '        Finance', '        Law',
       '        Organs Of State', '        Prime Minister's Office'],
      dtype='object', name='DataSeries')

Similarly with the first dataset, we changed the format of the dataframe and get the names of the columns. We want to focus on: Total Operating Expenditure, Social Development Operating Expenditure and Health Operating Expenditure.
<br><br>
The Total Operating Expenditure includes the Social Development Operating Expenditure, which in turn includes the Health Operating Expenditure.

In [9]:
print("Number of index levels:", health_operat_exp.index.nlevels)
clean_health_operat_exp = health_operat_exp.loc(axis=1)[('Total Operating Expenditure','    Social Development','        Health')]
clean_health_operat_exp.columns = ['Total Operating Expenditure', 'Social Development Operating Expenditure', 'Health Operating Expenditure']
display(clean_health_operat_exp.head())
print(clean_health_operat_exp.info())

Number of index levels: 1

,Total Operating Expenditure,Social Development Operating Expenditure,Health Operating Expenditure
2025,97031.0,55208.7,18795.3
2024,89553.7,51826.2,16731.0
2023,83829.0,47787.2,15935.4
2022,84438.0,46706.6,15908.6
2021,78542.9,43292.6,16273.7

<class 'pandas.core.frame.DataFrame'>
Index: 29 entries, 2025 to 1997
Data columns (total 3 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Total Operating Expenditure               29 non-null     object
 1   Social Development Operating Expenditure  29 non-null     object
 2   Health Operating Expenditure              29 non-null     object
dtypes: object(3)
memory usage: 928.0+ bytes
None

In [10]:
clean_health_operat_exp['Total Operating Expenditure'] = pd.to_numeric(clean_health_operat_exp['Total Operating Expenditure'], errors='coerce')
clean_health_operat_exp['Social Development Operating Expenditure'] = pd.to_numeric(clean_health_operat_exp['Social Development Operating Expenditure'], errors='coerce')
clean_health_operat_exp['Health Operating Expenditure'] = pd.to_numeric(clean_health_operat_exp['Health Operating Expenditure'], errors='coerce')
print(clean_health_operat_exp.info())

<class 'pandas.core.frame.DataFrame'>
Index: 29 entries, 2025 to 1997
Data columns (total 3 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Total Operating Expenditure               29 non-null     float64
 1   Social Development Operating Expenditure  29 non-null     float64
 2   Health Operating Expenditure              29 non-null     float64
dtypes: float64(3)
memory usage: 928.0+ bytes
None

The dataframe with government operating expenditure is prepared with the data we need and the format we want, with the correct Dtype.

### 4. Dataset 3: Population

In [11]:
populationData = pd.read_csv('data/raw/IndicatorsOnPopulationAnnual.csv')
display(populationData.head())
population = populationData.set_index('DataSeries')
population = population.T
display(population.head())
print(population.columns)

,DataSeries,2024,2023,2022,2021,2020,2019,2018,2017,2016,...,1959,1958,1957,1956,1955,1954,1953,1952,1951,1950
0,Total Population,6036860.0,5917648.0,5637022.0,5453566.0,5685807.0,5703569.0,5638676.0,5612253.0,5607283.0,...,1587200,1518800,1445929,1371600,1305500,1248200,1191800,1127000,1068100,1022100
1,Resident Population,4180868.0,4149253.0,4073239.0,3986842.0,4044210.0,4026209.0,3994283.0,3965796.0,3933559.0,...,na,na,na,na,na,na,na,na,na,na
2,Singapore Citizen Population,3635937.0,3610658.0,3553749.0,3498191.0,3523191.0,3500940.0,3471936.0,3439177.0,3408943.0,...,na,na,na,na,na,na,na,na,na,na
3,Permanent Resident Population,544931.0,538595.0,519490.0,488651.0,521019.0,525269.0,522347.0,526619.0,524616.0,...,na,na,na,na,na,na,na,na,na,na
4,Non-Resident Population,1855992.0,1768395.0,1563783.0,1466724.0,1641597.0,1677360.0,1644393.0,1646457.0,1673724.0,...,na,na,na,na,na,na,na,na,na,na

DataSeries,Total Population,Resident Population,Singapore Citizen Population,Permanent Resident Population,Non-Resident Population,Total Population Growth,Resident Population Growth,Population Density,Sex Ratio,Median Age Of Resident Population,...,Old-Age Support Ratio: Citizens Aged 15-64 Years Per Citizen Aged 65 Years & Over,Age Dependency Ratio: Citizens Aged Under 15 Years And 65 Years & Over Per Hundred Citizens Aged 15-64 Years,Child Dependency Ratio: Citizens Aged Under 15 Years Per Hundred Citizens Aged 15-64 Years,Old-Age Dependency Ratio: Citizens Aged 65 Years & Over Per Hundred Citizens Aged 15-64 Years,Old-Age Support Ratio: Citizens Aged 20-64 Years Per Citizen Aged 65 Years & Over,Age Dependency Ratio: Citizens Aged Under 20 Years And 65 Years & Over Per Hundred Citizens Aged 20-64 Years,Child Dependency Ratio: Citizens Aged Under 20 Years Per Hundred Citizens Aged 20-64 Years,Old-Age Dependency Ratio: Citizens Aged 65 Years & Over Per Hundred Citizens Aged 20-64 Years,Resident Natural Increase,Rate Of Natural Increase
2024,6036860.0,4180868.0,3635937.0,544931.0,1855992.0,2.0,0.8,8207.0,948.0,42.8,...,3.3,52.6,22.2,30.4,3.0,65.6,32.7,33.0,5637.0,1.3
2023,5917648.0,4149253.0,3610658.0,538595.0,1768395.0,5.0,1.9,8058.0,950.0,42.4,...,3.5,51.1,22.3,28.9,3.2,63.9,32.6,31.3,4951.0,1.2
2022,5637022.0,4073239.0,3553749.0,519490.0,1563783.0,3.4,2.2,7688.0,955.0,42.1,...,3.6,50.0,22.4,27.6,3.3,62.7,32.8,29.9,6704.0,1.6
2021,5453566.0,3986842.0,3498191.0,488651.0,1466724.0,-4.1,-1.4,7485.0,960.0,41.8,...,3.8,48.7,22.5,26.2,3.5,61.4,33.0,28.5,10913.0,2.7
2020,5685807.0,4044210.0,3523191.0,521019.0,1641597.0,-0.3,0.4,7810.0,957.0,41.5,...,4.1,46.8,22.2,24.6,3.7,59.7,32.9,26.8,13248.0,3.3

Index(['Total Population', 'Resident Population',
       'Singapore Citizen Population', 'Permanent Resident Population',
       'Non-Resident Population', 'Total Population Growth',
       'Resident Population Growth', 'Population Density', 'Sex Ratio',
       'Median Age Of Resident Population', 'Median Age Of Citizen Population',
       'Old-Age Support Ratio: Residents Aged 15-64 Years Per Resident Aged 65 Years & Over',
       'Age Dependency Ratio: Residents Aged Under 15 Years And 65 Years Per Hundred Residents Aged 15-64 Years',
       'Child Dependency Ratio: Residents Aged Under 15 Years Per Hundred Residents Aged 15-64 Years',
       'Old-Age Dependency Ratio: Residents Aged 65 Years & Over Per Hundred Residents Aged 15-64 Years',
       'Old-Age Support Ratio: Residents Aged 20-64 Years Per Resident Aged 65 Years & Over',
       'Age Dependency Ratio: Residents Aged Under 20 Years And 65 Years & Over Per Hundred Residents Aged 20-64 Years',
       'Child Dependency Ratio: Residents Aged Under 20 Years Per Hundred Residents Aged 20-64 Years',
       'Old-Age Dependency Ratio: Residents Aged 65 Years & Over Per Hundred Residents Aged 20-64 Years',
       'Old-Age Support Ratio: Citizens Aged 15-64 Years Per Citizen Aged 65 Years & Over',
       'Age Dependency Ratio: Citizens Aged Under 15 Years And 65 Years & Over Per Hundred Citizens Aged 15-64 Years',
       'Child Dependency Ratio: Citizens Aged Under 15 Years Per Hundred Citizens Aged 15-64 Years',
       'Old-Age Dependency Ratio: Citizens Aged 65 Years & Over Per Hundred Citizens Aged 15-64 Years',
       'Old-Age Support Ratio: Citizens Aged 20-64 Years Per Citizen Aged 65 Years & Over',
       'Age Dependency Ratio: Citizens Aged Under 20 Years And 65 Years & Over Per Hundred Citizens Aged 20-64 Years',
       'Child Dependency Ratio: Citizens Aged Under 20 Years Per Hundred Citizens Aged 20-64 Years',
       'Old-Age Dependency Ratio: Citizens Aged 65 Years & Over Per Hundred Citizens Aged 20-64 Years',
       'Resident Natural Increase', 'Rate Of Natural Increase'],
      dtype='object', name='DataSeries')

Similarly, we tranpose the dataframe to the 'long' format and we get the names of the columns. We want to focus on Resident Population as health expenditures apply mostly to residents and we can get **expenditure per capita**. We also want Median Age of the Resident Population to observe if there are any **correlations between median age and expenditure**.

In [12]:
population.index = pd.to_datetime(population.index, format='%Y')
clean_population = population[(population.index >= '1997') & (population.index <= '2024')]
clean_population = clean_population.loc(axis=1)[('Resident Population', 'Median Age Of Resident Population')]
display(clean_population.head())
print(clean_population.info())

DataSeries Resident Population Median Age Of Resident Population
2024-01-01           4180868.0                              42.8
2023-01-01           4149253.0                              42.4
2022-01-01           4073239.0                              42.1
2021-01-01           3986842.0                              41.8
2020-01-01           4044210.0                              41.5

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 28 entries, 2024-01-01 to 1997-01-01
Data columns (total 2 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Resident Population                28 non-null     object
 1   Median Age Of Resident Population  28 non-null     object
dtypes: object(2)
memory usage: 672.0+ bytes
None

In [13]:
clean_population['Resident Population'] = pd.to_numeric(clean_population['Resident Population'], errors='coerce')
clean_population['Median Age Of Resident Population'] = pd.to_numeric(clean_population['Median Age Of Resident Population'], errors='coerce')
print(clean_population.info())

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 28 entries, 2024-01-01 to 1997-01-01
Data columns (total 2 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Resident Population                28 non-null     float64
 1   Median Age Of Resident Population  28 non-null     float64
dtypes: float64(2)
memory usage: 672.0 bytes
None

We convert the Dtype to floats so that in Tableau, we will be able to do calculations (if necessary).

### 5.  Final Preparation: Combining Data

In [14]:
combined_health_exp = pd.concat([clean_health_develop_exp, clean_health_operat_exp], axis= 1)
combined_health_exp.index = pd.to_datetime(combined_health_exp.index, format='%Y')
healthexp_population = pd.concat([combined_health_exp, clean_population], axis= 1, join='outer')
display(healthexp_population.head())
print(healthexp_population.info())

,Total Development Expenditure,Social Development Expenditure,Health Development Expenditure,Total Operating Expenditure,Social Development Operating Expenditure,Health Operating Expenditure,Resident Population,Median Age Of Resident Population
1997-01-01,8963.0,3306.4,274.4,14079.6,5479.6,896.0,3123403.0,32.7
1998-01-01,12282.3,5277.8,250.6,14651.5,5433.3,992.4,3180018.0,33.1
1999-01-01,10211.5,5141.4,153.1,14867.5,5409.5,935.8,3229681.0,33.6
2000-01-01,9493.6,4517.1,140.3,18414.9,6653.8,1071.5,3273363.0,34.0
2001-01-01,8769.1,4169.7,145.0,18536.2,7769.9,1445.5,3325902.0,34.4

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 29 entries, 1997-01-01 to 2025-01-01
Freq: YS-JAN
Data columns (total 8 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Total Development Expenditure             29 non-null     float64
 1   Social Development Expenditure            29 non-null     float64
 2   Health Development Expenditure            29 non-null     float64
 3   Total Operating Expenditure               29 non-null     float64
 4   Social Development Operating Expenditure  29 non-null     float64
 5   Health Operating Expenditure              29 non-null     float64
 6   Resident Population                       28 non-null     float64
 7   Median Age Of Resident Population         28 non-null     float64
dtypes: float64(8)
memory usage: 2.0 KB
None

Final data has two NaN values for the year 2025 as we don't have the resident population and median age of resident population numbers.

### Column Documentation for Tableau


| Column Name | Data Type | Description | Examples |
|-------------|-----------|-------------|-------------------|
| Total Development Expenditure | Float | Capital investment spending | Long-term infrastructure, buildings, equipment purchases |
| Social Development Expenditure | Float | Social capital investments | Schools, community centers, social housing projects |
| Health Development Expenditure | Float | Health capital investments | Hospitals, clinics, medical equipment purchases |
| Total Operating Expenditure | Float | Day-to-day operational costs | Salaries, utilities, maintenance, supplies |
| Social Development Operating Expenditure | Float | Social program operations | Staff salaries, program delivery costs |
| Health Operating Expenditure | Float | Health service operations | Medical staff, pharmaceuticals, service delivery |
| Resident Population | Float | Total registered residents | - |
| Median Age Of Resident Population | Float | Middle age value of residents | - |

### 6. Data Export

Export data as a csv file: *Health Expenditure & Population.csv*

In [ ]:
healthexp_population.to_csv('Health Expenditure & Population.csv', index= True)